body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

/* ใช้เฉพาะกับ input ที่ไม่ใช่ radio หรือ checkbox */
input:not([type="radio"]):not([type="checkbox"]),
select, button {
  font-size: 16px;
  padding: 8px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
}


.button-container {
  text-align: center;
  margin: 15px 0;
}

button {
  width: 100;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0b7dda;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 50px;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.model1{
  margin-bottom: 10px;
}

.radio-option input[type="radio"] {
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: 1;
}

.radio-option label {
  display: inline-block;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}

/*
.radio-option input[type="radio"]:checked + label {
  background-color: #007bff;
  color: black;
  border-color: #007bff;
}

*/
