body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

input, select, button {
  font-size: 16px;
  padding: 8px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
}

.button-container {
  text-align: center;
  margin: 15px 0;
}

button {
  width: 100;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0b7dda;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 50px;
}
